/tests/**/test-*
!/tests/**/test-*.sh
!/tests/**/test-*.[hc]
!/tests/**/test-*.[hc]pp
/tests/ctf-writer/ctf-writer
/tests/lib/conds/conds-triggers
/tests/lib/plugin
/tests/plugins/sink.ctf.fs/succeed/gen-trace-double
/tests/plugins/sink.ctf.fs/succeed/gen-trace-float
/tests/plugins/src.ctf.fs/succeed/gen-trace-simple
/tests/utils/env.sh
*~
*.o
*.a
*.la
*.lo
*.exe
.libs
.deps
*.bkp
*.trs
.dirstamp
/src/plugins/ctf/common/src/metadata/tsdl/lexer.cpp
/src/plugins/ctf/common/src/metadata/tsdl/parser.cpp
/src/plugins/ctf/common/src/metadata/tsdl/parser.hpp
/src/plugins/ctf/common/src/metadata/tsdl/parser.output
/src/bindings/python/bt2/bt2.egg-info
/src/bindings/python/bt2/dist
/src/cli/babeltrace2
/src/cli/babeltrace2.bin
/src/cli/babeltrace2-log
/src/cli/babeltrace2-log.bin
/src/common/config.h
/src/common/config.h.in
/src/common/version.i
/src/common/version.i.tmp
/config.status
*.log
aclocal.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
libtool
/configure
Makefile
Makefile.in
autom4te.cache/
config/
core
stamp-h1
__pycache__
/src/babeltrace2.pc
/src/babeltrace2-ctf-writer.pc
TAGS
cscope*
*.gcno
*.gcda
*.gcov
*.html
*.stamp
*.swp
.theia
compile_commands.json
/version
